html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
  font-family: sans-serif;
}

footer {
  width: 600px;
  min-height: 4em;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  align-items: stretch;
  align-content: stretch;
  font-size: 10px;
}

footer .controls {
  margin-left: 5px;
}
footer .input {
  margin-right: 5px;
}

.controls {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.controls label {
  display: flex;
  align-items: baseline;
  margin-bottom: 3px;
}

.controls label span {
  text-align: right;
  margin-right: 6px;
  flex-basis: auto;
}

.controls label input {
  flex: 1;
}

.input {
  flex: 1;
  font: inherit;
}

.glitchButton {
  float: right;
  margin: 10px;
}

main {
  width: 600px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.lines {
  transform-origin: top left;
  position: absolute;
  min-width: 580px;
  margin: 10px;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 103px;
  z-index: 2;
}

.line--glow {
  position: relative;
  height: 103px;
  z-index: 1;
  margin-top: -103px;
  mix-blend-mode: screen;
  opacity: 0.7;
  filter: blur(8px);
}

.letter {
  background-repeat: no-repeat;
  background-color: rgba(233, 191, 39, 0.6);
  background-blend-mode: overlay;
  background-clip: content-box;
  color: transparent;
}

.line.line--glow .letter {
  background: #fffffc !important;
}

.brick,
.brick-color {
  position: absolute;
  width: 100%;
  height: 100%;
}

.brick {
  background: #0a7 url("/-/brick.jpg") top left repeat;
  background-size: 70%;
  background-blend-mode: overlay;
}

.brick-color {
  mix-blend-mode: multiply;
}

.guy {
  background: transparent url("/-/guy.png") top left no-repeat;
  width: 131px;
  height: 399px;
  position: absolute;
  bottom: 0;
  left: 240px;
  transform: scale(0.8);
  transform-origin: center bottom;
}

.letter--a {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fa.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fa.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fa.png);
  width: 92px;
  height: 102px;
}
.letter--b {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fb.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fb.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fb.png);
  width: 70px;
  height: 95px;
}
.letter--c {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fc.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fc.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fc.png);
  width: 80px;
  height: 100px;
}
.letter--d {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fd.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fd.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fd.png);
  width: 78px;
  height: 100px;
}
.letter--e {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fe.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fe.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fe.png);
  width: 59px;
  height: 92px;
}
.letter--f {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Ff.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Ff.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Ff.png);
  width: 59px;
  height: 96px;
}
.letter--g {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fg.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fg.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fg.png);
  width: 88px;
  height: 104px;
}
.letter--h {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fh.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fh.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fh.png);
  width: 84px;
  height: 101px;
}
.letter--i {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fi.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fi.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fi.png);
  width: 30px;
  height: 96px;
}
.letter--j {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fj.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fj.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fj.png);
  width: 69px;
  height: 94px;
}
.letter--k {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fk.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fk.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fk.png);
  width: 89px;
  height: 100px;
}
.letter--l {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fl.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fl.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fl.png);
  width: 64px;
  height: 96px;
}
.letter--m {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fm.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fm.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fm.png);
  width: 83px;
  height: 97px;
}
.letter--n {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fn.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fn.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fn.png);
  width: 81px;
  height: 96px;
}
.letter--o {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fo.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fo.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fo.png);
  width: 84px;
  height: 93px;
}
.letter--p {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fp.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fp.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fp.png);
  width: 72px;
  height: 90px;
}
.letter--q {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fq.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fq.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fq.png);
  width: 92px;
  height: 103px;
}
.letter--r {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fr.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fr.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fr.png);
  width: 79px;
  height: 96px;
}
.letter--s {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fs.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fs.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fs.png);
  width: 69px;
  height: 101px;
}
.letter--t {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Ft.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Ft.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Ft.png);
  width: 86px;
  height: 100px;
}
.letter--u {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fu.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fu.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fu.png);
  width: 76px;
  height: 96px;
}
.letter--v {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fv.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fv.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fv.png);
  width: 91px;
  height: 95px;
}
.letter--w {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fw.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fw.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fw.png);
  width: 88px;
  height: 90px;
}
.letter--x {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fx.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fx.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fx.png);
  width: 90px;
  height: 84px;
}
.letter--y {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fy.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fy.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fy.png);
  width: 85px;
  height: 92px;
}
.letter--z {
  background-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fz.png);
  mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fz.png);
  -webkit-mask-image: url(https://cdn.glitch.com/c3ef7772-b434-47f2-9299-851ea5e380ef%2Fz.png);
  width: 80px;
  height: 91px;
}

.letter.letter--space,
.line--glow .letter.letter--space {
  width: 30px;
  height: 91px;
  background: transparent !important;
}
